<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New For Looking For Flatmates Ad</title>
</head>

<br /><br />
<center><th:block th:include="_menu"></th:block></center>
<br /><br />

<center>
<h1>Create New For Looking For Flatmates Ad</h1>
<form th:action="@{/users/ads/forsearch/new}" th:object="${forSearch}" method="post" enctype="utf8">
    <label>Enter description:</label>
    <br />
    <input type="text" th:field="*{text}" th:value="${forSearch.text}"> <div class="text text-danger" th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></div>
    <br />
    <label>Enter county:</label>
    <br />
    <input type="text" th:field="*{county}" th:value="${forSearch.county}"> <div class="text text-danger" th:if="${#fields.hasErrors('county')}" th:errors="*{county}"></div>
    <br />
    <label>Enter months of cautions:</label>
    <br />
    <input type="number" th:field="*{cautionMonths}" th:value="${forSearch.cautionMonths}"> <div class="text text-danger" th:if="${#fields.hasErrors('cautionMonths')}" th:errors="*{cautionMonths}"></div>
    <br />
    <label>Enter monthly rent ($):</label>
    <br />
    <input type="number" th:field="*{monthlyRent}" th:value="${forSearch.monthlyRent}"> <div class="text text-danger" th:if="${#fields.hasErrors('monthlyRent')}" th:errors="*{monthlyRent}"></div>
    <br />
    <label>Smoking allowed (if yes, enter "1", else "0"):</label>
    <br />
    <input type="number" th:field="*{isSmoking}" th:value="${forSearch.isSmoking}"> <div class="text text-danger" th:if="${#fields.hasErrors('isSmoking')}" th:errors="*{isSmoking}"></div>
    <br />
    <label>Available for students (if yes, enter "1", else "0"):</label>
    <br />
    <input type="number" th:field="*{isForStudents}" th:value="${forSearch.isForStudents}"> <div class="text text-danger" th:if="${#fields.hasErrors('isForStudents')}" th:errors="*{isForStudents}"></div>
    <br />
    <label>Number of current inmates:</label>
    <br />
    <input type="number" th:field="*{currentInmate}" th:value="${forSearch.currentInmate}"> <div class="text text-danger" th:if="${#fields.hasErrors('currentInmate')}" th:errors="*{currentInmate}"></div>
    <br />
    <label>Looking for man or woman (if man, enter "1", else if woman "0"):</label>
    <br />
    <input type="number" th:field="*{isMan}" th:value="${forSearch.canBeMoved}"> <div class="text text-danger" th:if="${#fields.hasErrors('canBeMoved')}" th:errors="*{canBeMoved}"></div>
    <br />
    <label>Earliest date of moving in:</label>
    <br />
    <input type="date" th:field="*{canBeMoved}" th:value="${forSearch.canBeMoved}"> <div class="text text-danger" th:if="${#fields.hasErrors('canBeMoved')}" th:errors="*{canBeMoved}"></div>
    <br />
    <input type="submit" value="Submit" />
</form>
</center>
</body>
</html>