<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>All Looking For Flatmates Ads</title>
</head>
<body>

<br /><br />
<center><th:block th:include="_menu"></th:block></center>
<br /><br />

<table border="2">
    <tr>
        <th>Ad ID</th>
        <th>Text</th>
        <th>County</th>
        <th>Monthly Rent ($)</th>
        <th>Date of Moving In</th>
        <th>Caution (Months)</th>
        <th>Current Inmates</th>
        <th>Available For Students</th>
        <th>Smoking Allowed</th>
        <th>Looking For</th>
        <th>Ad Owner ID</th>
    </tr>
    <border="1">
    <tr th:each="forsearch : ${forsearch}">
        <td th:inline="text"><a th:href="@{'/users/ads/forsearch/' + ${forsearch.id}}">[[${forsearch.id}]]</a></td>
        <td th:text="${forsearch.text}">...</td>
        <td th:text="${forsearch.county}">...</td>
        <td th:text="${forsearch.monthlyRent}">...</td>
        <td th:text="${forsearch.canBeMoved}">...</td>
        <td th:text="${forsearch.cautionMonths}">...</td>
        <td th:text="${forsearch.currentInmate}">...</td>
        <td th:switch="${forsearch.isForStudents}">
            <p th:case="'0'">No</p>
            <p th:case="'1'">Yes</p>
            <p th:case="*">Unknown</p>
        </td>
        <td th:switch="${forsearch.isSmoking}">
            <p th:case="'0'">No</p>
            <p th:case="'1'">Yes</p>
            <p th:case="*">Unknown</p>
        </td>
        <td th:switch="${forsearch.isMan}">
            <p th:case="'0'">Woman</p>
            <p th:case="'1'">Man</p>
            <p th:case="*">Unknown</p>
        </td>
        <td th:text="${forsearch.userId}">...</td>
    </tr>
</table>
</body>
</html>