<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>User Profile Details</title>
</head>
<body>

<br /><br />
<center><th:block th:include="_menu1"></th:block></center>
<br /><br />

<table border="2">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Date of Birth</th>
        <th>Phone Number</th>
        <th>E-mail Address</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <border="1">
    <tr>
        <td th:inline="text"><a th:href="@{'/users/' + ${user.id}}">[[${user.id}]]</a></td>
        <td th:text="${user.name}">...</td>
        <td th:text="${user.username}">...</td>
        <td th:text="${user.password}">...</td>
        <td th:text="${user.dateOfBirth}">...</td>
        <td th:text="${user.phone}">...</td>
        <td th:text="${user.email}">...</td>
        <td>
            <form action="#" th:action="@{'/users/' + ${user.id}}" method="post" th:object="${user}">
                <input type="hidden" th:field="${user.id}"/>
                <button type="submit" value="Submit">Delete</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{'/users/edit/' + ${user.id}}" method="get" th:object="${user}">
                <input type="hidden" th:field="${user.id}"/>
                <button type="submit" value="Submit">Edit</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>